body{
  background-color: #232323;
}
.square{
  width: 30%;
  padding-bottom: 30%;
  float: left;
  margin: 1.66%;
  border-radius: 20px;
  transition: background 1s;
  -webkit-transition: background 1s;
  -moz-transition: background 1s;

}

.square:hover{
  cursor: pointer;
}
#container{
  max-width: 600px;
  /* make the container center */
  margin: 20px auto;
}
h1{
  color: white;
  text-align: center;
  background-color: #647de8;
  padding-bottom: 50px;
  padding-top: 50px;
  margin: 0;
  font-size: 26px;
  letter-spacing: 2px;
  line-height: 50px;
  transition: background .7s;
  -webkit-transition: background .7s;
  -moz-transition: background .7s;
}
#stripe{
  background-color: white;
  height: 40px;
  text-align: center;
}

#colorDisplay{
  text-transform: uppercase;
  font-size: 52px;
}
button{
  text-transform: uppercase;
  border: none;
  background-color: white;
  font-size: 1.1em;
  font-weight: bold;
  color: #2c3e5d;
  letter-spacing: 1.2px;
  outline: none !important;
}
button:hover{
  background-color: #647de8;
  color: white;
  cursor: pointer;
  transition: all .3s;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
}

.selected{
  background-color: #647de8;
  color: white;
}
#message{
  height: 100%;
  font-size: 1.4em;
  font-weight: bold;
  letter-spacing: 1.2px;
  color: #2c3e5d;
  padding-top: 2px;
}

.container{
  /* border: 2px black solid; */
  max-width: 600px;
}

@media (max-width:500px) {
  #stripe{
    background-color: white;
    height: 70px;
  }
  #message{
    font-size: 1.2em;
    letter-spacing: .5px;
    padding-top: 18px;
  }
}
